<div class="dark-footer">
    <div class="footer-content">
    <div class="footer-section">
    <h2>Contact</h2>
    <p>Email: khanshoaib2819@gmail.com</p>
    <p>Phone: +91 6389730281</p>
    </div>
    <div class="footer-section">
    <h2>Follow Me</h2>
    <a href="https://www.github.com/shoaibkhan08/" >GitHub</a>
    
    <a href=" https://www.linkedin.com/in/shoaib-khan-06763b190/" >LinkedIn</a>
    </div>
    </div>
    <div class="footer-bottom">
    <p>&copy; 2023 Shoaib. All rights reserved.</p>
    </div>
</div>